<html>
<head>
<title>style css</title>
<style>
{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
  padding: 10px;
}

.column.left, .column.right {
  width: 25%;
}

.column.middle {
  width: 60%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
</style>
</head>